body {
  margin: 0;
  background-image: linear-gradient(to right, #130d34, #130d34);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}
.header img {
  position: relative;
  left: -750px;
}
.header .side-buttons {
  padding: 2px;
  border: 5px;
  border-radius: 15px;
}
.header .side-buttons .button {
  margin: 5px;
  height: 40px;
  background-color: #481a59;
  color: white;
  padding: 10px;
  border: 1px solid rgb(132, 199, 9);
  border-radius: 10px;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.header .side-buttons .button:hover {
  background-image: linear-gradient(to right, rgb(191, 109, 207), rgb(66, 20, 172));
  box-shadow: 1px 0px 10px #dedbe6;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.header .side-buttons #connect {
  font-size: 15px;
  padding: 0px 25px;
  font-family: "Nunito Sans", sans-serif;
}

section {
  display: flex;
}
section h1 {
  position: relative;
  top: 70px;
  left: 140px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  width: 70%;
  margin-left: 130px;
}
section marquee {
  width: 100%;
}
section marquee .swipe {
  background-color: rgb(14, 34, 73);
  opacity: 0.3;
  border-radius: 30px;
  margin-top: 70px;
  cursor: pointer;
}
section marquee .swipe .links {
  color: white;
  padding: 10px;
  text-align: center;
  border: 2px;
  height: 250px;
}
section marquee .swipe .links a {
  display: block;
  color: white;
  padding: 1px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
}
section .overlay {
  height: 60%;
  width: 0%;
  position: fixed;
  top: 175px;
  left: 10px;
  z-index: 1;
  background-color: rgb(14, 34, 73);
  overflow-x: hidden;
  transition: 0.5s;
  border: 2px;
  border-radius: 30px;
}
section .overlay .sidemenu {
  position: relative;
  margin-top: 50px;
  text-align: center;
  opacity: 0.3;
  font-family: "Nunito Sans", sans-serif;
}
section .overlay .sidemenu a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
section .overlay .sidemenu a .active {
  border: 5px;
  border-radius: 15px;
  color: white;
}
section .overlay .sidemenu a:hover {
  color: white;
  background-color: rgb(162, 145, 204);
  box-shadow: 1px 0px 10px #dedbe6;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}
section .overlay .closebtn {
  position: absolute;
  right: 45px;
  left: 110px;
  font-size: 30px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
section .openbtn {
  display: block;
  height: 100px;
  width: 30px;
  top: 200px;
  right: 45px;
  left: 100px;
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
@media screen and (max-height: 450px) {
  section .overlay a {
    font-size: 20px;
  }
  section .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
  display: none;
}

.sub-text {
  display: flex;
  position: relative;
  left: 270px;
  top: -50px;
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
  .sidemenu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px;
    margin-left: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: #8e79a8;
  }
  .sidemenu a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .sidemenu a {
    text-align: center;
    float: none;
  }
}/*# sourceMappingURL=style.css.map */