body {
  margin: 0;

  background-image: linear-gradient(to right, #130d34, #130d34);
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  img {
    position: relative;
    left: -600px;
  }
  h1 {
    color: white;
    position: relative;
    left: -600px;
  }
  .side-buttons {
    border-radius: 15px;
    margin-right: 30px;
    .button {
      margin: 5px;
      height: 45px;
      width: 45px;
      background-color: #481a59;
      color: white;
      border: 1px none;
      border-radius: 10px;

      &:hover {
        background-image: linear-gradient(
          to right,
          rgb(191, 109, 207),
          rgb(66, 20, 172)
        );
        box-shadow: 1px 0px 10px #dedbe6;
        border-radius: 10px;
        transition: all 200ms ease-in-out;
      }
    }
    #connect {
      width: 165px;
      font-size: 16px;
      font-family: "Nunito Sans", sans-serif;
      font-weight: bold;
    }
    #font-awesome {
      font-size: 23px;
    }
  }
}

section {
  display: flex;

  h2 {
    position: relative;
    top: 70px;
    left: 100px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    width: 70%;
    margin-left: 30px;
  }
  marquee {
    width: 100%;

    .swipe {
      background-color: rgb(14, 34, 73);
      opacity: 0.3;
      border-radius: 30px;
      margin-top: 70px;
      cursor: pointer;
      border: 2px solid rgb(132, 199, 9);
      .links {
        color: white;
        padding: 10px;
        text-align: center;
        border: 2px;
        height: 200px;
        a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-family: "Nunito Sans", sans-serif;
        }
      }
    }
  }
  .overlay {
    height: 60%;
    width: 0%;
    position: fixed;
    top: 175px;
    z-index: 1;
    background-color: rgb(14, 34, 73);
    overflow-x: hidden;
    transition: 0.5s;
    border: 2px;
    border-radius: 30px;
    .sidemenu {
      position: relative;
      margin-top: 50px;
      text-align: left;

      font-family: "Nunito Sans", sans-serif;
      a {
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        .active {
          border: 5px;
          border-radius: 15px;
          color: white;
        }
        &:hover {
          color: white;
          border: 1px solid green;
          background-image: linear-gradient(
            to right,
            rgb(133, 65, 146),
            rgb(66, 20, 172)
          );
          box-shadow: 1px 0px 10px #dedbe6;
          border-radius: 15px;
          transition: all 200ms ease-in-out;
        }
      }
    }
    .closebtn {
      position: absolute;
      right: 45px;
      left: 80px;
      font-size: 30px;
      text-decoration: none;
      font-family: "Nunito Sans", sans-serif;
      color: white;
    }
  }
  .openbtn {
    display: block;
    height: 100px;
    width: 30px;
    top: 200px;
    right: 45px;
    left: 50px;
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
  }
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
  display: none;
}

@media screen and (max-width: 700px) {
  .sidemenu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px;
    margin-left: 0px;
    border: 0px;
    border-radius: 0px;
    background-color: #8e79a8;
  }
  .sidemenu a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidemenu a {
    text-align: center;
    float: none;
  }
}
